/* Mike Confrey 11-27-2017 */

/* set attributes for entire page */
body {
  font-family: verdana;
  background-color: black;
  text-align: center;
}

/* set attributes for header ID */
#header h1 {
  font-weight: normal;
  color: white;
  font-size: 50px;
}

#dllink {
  font-size: 16px;
  color: aquamarine;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#camping p {
  font-size: 21px;
  color: gray;
}

#copyrt p {
  font-size: 21px;
  color: gray;
  text-align: right;
}
